version: '3.8'
services:
  client:
    container_name: misadrawings_client
    build:
      dockerfile: Dockerfile
      context: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - misadrawings-network

networks:
  misadrawings-network:
    driver: bridge